.certificate {
  padding: 48px 0;
  text-align: center;
  &__title {
    color: #029a3b;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
    display: inline-block;
  }
  &-container {
    width: 770px;
    padding: 18px;
    margin: -15px auto 0;
    border: 3px solid #646464;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    &-list {
      list-style: none;
      display: table-row;
      &-item {
        display: table-cell;
        padding: 0 5px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}