.header-right {
  text-align: right;
}
.header-phone {
  color: #029a3b;
}
.header-phone__number {
  font-size: 18px;
  position: relative;
  display: inline;
}
.header-phone__number:before {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../img/icon/icon-phone.png');
  background-repeat: no-repeat;
  top: 50%;
  left: -40px;
}
.header-phone__text {
  font-size: 8px;
}
.header-slogan {
  margin-left: 24px;
  margin-bottom: 26px;
}
.header-nav {
  margin-bottom: 10px;
}
.header-nav-list {
  list-style: none;
  margin-top: 22px;
}
.header-nav-list-item {
  display: inline-block;
}
.header-nav-list-item__link {
  font-size: 10px;
  border-right: 1px solid #666;
  padding: 0 10px;
}
.header-nav-list-item__link:hover {
  color: #333;
  text-shadow: 0.5px 0.5px 0 #000;
}
.header-nav-list-item__link:last-child {
  border: none;
}
.header-nav-slogan {
  text-align: center;
  margin: 0 40px;
}
.header-foto-container {
  position: relative;
}
.header-foto-container img {
  width: 100%;
}
.header-foto-container-triangle {
  position: absolute;
  width: 102px;
  height: 90px;
  z-index: 1;
}
.header-foto-container-triangle_1 {
  top: 0;
  left: 0;
  background-image: url('../img/triangle_1.png');
}
.header-foto-container-triangle_2 {
  bottom: 4px;
  right: 0;
  background-image: url('../img/triangle_2.png');
}
.header-foto__text {
  margin-top: -6px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-image: url('../img/header-foto__text__bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 33px;
}
