.stage {
  padding: 44px 0;
}
.stage__title {
  margin: 40px 0 55px;
  color: #029a3b;
  padding: 26px 0;
  border-top: 6px dotted #029a3b;
  border-bottom: 6px dotted #029a3b;
}
.stage-row-item {
  position: relative;
}
.stage-row-item__number {
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 5px;
  display: table-cell;
  width: 40px;
  height: 40px;
  border-radius: 44px;
  border: 2px solid #095c28;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #72c271;
}
.stage-row-item__text {
  background-color: #029a3b;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.stage-icon {
  position: relative;
}
.stage-icon_1:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_1.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_1:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_1.png');
  width: 74px;
  height: 94px;
  bottom: -94px;
  right: 0;
}
.stage-icon_2:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_2.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_2.png');
  width: 26px;
  height: 35px;
  bottom: -57px;
  right: 40%;
}
.stage-icon_3:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_3.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_3:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_3.png');
  width: 26px;
  height: 35px;
  bottom: -37px;
  right: 40%;
}
.stage-icon_4:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_4.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_4:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_4.png');
  width: 50px;
  height: 70px;
  bottom: -118px;
  right: 49%;
}
.stage-icon_5:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_5.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_5:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_5.png');
  width: 50px;
  height: 48px;
  top: -49px;
  right: 36%;
}
.stage-icon_6:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_6.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_6:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_6.png');
  width: 50px;
  height: 48px;
  top: -49px;
  right: 36%;
}
.stage-icon_7:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_7.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_7:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_7.png');
  width: 50px;
  height: 48px;
  top: -49px;
  right: 36%;
}
.stage-icon_8:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 5px;
  top: -35px;
  background-image: url('../img/stage/icon_8.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stage-icon_8:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/stage/arrow_8.png');
  width: 50px;
  height: 48px;
  top: -49px;
  right: 36%;
}
