<div class="certificate">
  <p class="certificate__title">Вся продукция сертифицирована согласно ГОСТ Р</p>
  <div class="certificate-container">
    <div class="certificate-container-list js-certificate-slider">
      <ul class="slides">
      {% for certificate in certificate_list %}
        <li>
        <a href="{{ certificate.image.url }}" rel="group" class="certificate-container-list-item js-certificate" title="{{ certificate.alt|default:''}}">
          <img src="{{ certificate.image_resize.url }}" alt="{{ certificate.alt|default:''}}">
        </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
