<section class="contract">
  <div class="grid_8 prefix_2 suffix_2">
    <p class="contract__title title">Преимущества энергосервисного контракта с нами</p>
  </div>
  <div class="contract-container">
    <div class="grid_4">
      <div class="contract-container-item">
        <div class="contract-container-item__icon contract-container-item__icon_1"></div>
        <div class="contract-container-item__title">
          <p>Без вложений</p>
        </div>
        <div class="contract-container-item__text">
          <p>Поставка и монтаж энергосберегающего оборудования осуществляется за счет средств, инвестируемых нашим предприятием .Таким образом вложения со стороны переоборудуемого объекта не требуются.</p>
        </div>
      </div>
    </div>
    <div class="grid_4">
      <div class="contract-container-item">
        <div class="contract-container-item__icon contract-container-item__icon_2"></div>
        <div class="contract-container-item__title">
          <p>Возврат средств за счёт экономии</p>
        </div>
        <div class="contract-container-item__text">
          <p>Возврат денежных средств будет осуществлен исключительно за счет получаемой экономии и, как следствие, высвободившихся денежных средств.</p>
        </div>
      </div>
    </div>
    <div class="grid_4">
      <div class="contract-container-item">
        <div class="contract-container-item__icon contract-container-item__icon_3"></div>
        <div class="contract-container-item__title">
          <p>Оборудование переходит в собственность</p>
        </div>
        <div class="contract-container-item__text">
          <p>По истечении срока договора внедренное оборудование переходит в собственность учреждения, в котором оно было установлено.</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="grid_4 prefix_2">
      <div class="contract-container-item">
        <div class="contract-container-item__icon contract-container-item__icon_4"></div>
        <div class="contract-container-item__title">
          <p>Экономия сразу</p>
        </div>
        <div class="contract-container-item__text">
          <p>Проведение мероприятий по экономии энергетических ресурсов позволит сэкономить на плановой замене ламп и сопутствующего энергооборудования и на его обслуживание и ремонте.</p>
        </div>
      </div>
    </div>
    <div class="grid_4 suffix_2">
      <div class="contract-container-item">
        <div class="contract-container-item__icon contract-container-item__icon_5"></div>
        <div class="contract-container-item__title">
          <p>Не нужен договор на утилизацию</p>
        </div>
        <div class="contract-container-item__text">
          <p>Внедренное оборудование не содержит и не передает в атмосферу вредных веществ и химических соединений и, следовательно, не требует специальных условий утилизации и оформления документации по экологическим нормативам, а значит Организации не требуется договор на утилизацию.</p>
        </div>
      </div>
    </div>


    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>