<section class="geography">
  <div class="grid_12">
    <p class="geography__text">
      Нашим оборудованием были переоснащены сети магазинов «Carrefour» в Греции, сеть магазинов «МАН», «Радеж» в  Волгоградской области, сеть аптек «АПТЕКА-а.в.е.» город Москва и Московская область, а также многие торговые и офисные центры на территории Московской, Тверской, Сведловской, Волгоградской области.
Мы тесно сотрудничаем с учреждениями здравоохранения, образования и культуры
    </p>
  </div>
  <div class="grid_12">
    <p class="geography__title">Мы расширяем географию нашей работы</p>
  </div>
  <div class="grid_12">
    <div class="geography-map" id="YMapsID">
{#      <img src="{{ STATIC_URL }}img/map.png" alt="Карта нашей дейтельности">#}
    </div>
  </div>
  <div class="clear"></div>
</section>