<header class="header">
  <div class="grid_6">
    <div class="header-logotype header-left">
      <img src="{{ STATIC_URL }}img/logotype.png" alt="">
    </div>
  </div>
  <div class="grid_6">
    <div class="header-right">
      <div class="header-lang">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
        <ul class="header-lang-list">
          <li class="header-lang-list-item">
            <span class="header-lang-list-item__text">
              {% if LANGUAGE_CODE == 'ru' %}
              Выбор языка:
              {% else %}
                Select language:
              {% endif %}
            </span>
          </li>

          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <li class="header-lang-list-item"><a href="/{{ language.code }}/" class="header-lang-list-item__link{% if LANGUAGE_CODE == language.code %} header-lang-list-item__link_active{% endif %}">{{ language.code }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if LANGUAGE_CODE == 'ru' %}
        <div class="header-phone">
          <p class="header-phone__number">{{ contacts.phone|default:'8(800)250-34-50' }}</p>
          <p class="header-phone__text">
            {% if LANGUAGE_CODE == 'ru' %}
            Бесплатный звонок по всей России
            {% else %}
            Free call across Russia
            {% endif %}
          </p>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="grid_12">
    <p class="header-slogan">
      {% if LANGUAGE_CODE == 'ru' %}
      Уникальное предложение для собственников объектов коммерческой недвижимости <br>
      по экономии электроэнергии без первоначальных вложений!
      {% else %}
      A unique offer regarding saving energy without any initial investments <br>
      for the owners of installations of commercial real estate.
      {% endif %}
    </p>
  </div>
  <div class="grid_8">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#contract" class="header-nav-list-item__link">
            {% if LANGUAGE_CODE == 'ru' %}
              Преимущества контракта
            {% else %}
              Advantages of contracts
            {% endif %}
          </a>
          <a href="#products" class="header-nav-list-item__link">
            {% if LANGUAGE_CODE == 'ru' %}
              Преимущества продукции
            {% else %}
              Advantages of the product
            {% endif %}
            </a>
          <a href="#stage" class="header-nav-list-item__link">
            {% if LANGUAGE_CODE == 'ru' %}
              Этапы контракта
            {% else %}
              Stages of contract
            {% endif %}
          </a>
          <a href="#calculator" class="header-nav-list-item__link">
            {% if LANGUAGE_CODE == 'ru' %}
              Калькулятор расчёта экономии
            {% else %}
              Calculator of savings
            {% endif %}

          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid_4">
    <p class="header-nav-slogan">
      {% if LANGUAGE_CODE == 'ru' %}
      Сэкономленные деньги - это заработанные деньги
      {% else %}
      Money saved - money earned
      {% endif %}
    </p>
  </div>
  <div class="grid_12">
    <div class="header-foto">
      <div class="header-foto-container">
        <img src="{{ STATIC_URL }}img/header__foto.jpg" alt="">
        <div class="header-foto-container-triangle header-foto-container-triangle_1"></div>
        <div class="header-foto-container-triangle header-foto-container-triangle_2"></div>
      </div>
      <div class="header-foto__text">
        <p>
          {% if LANGUAGE_CODE == 'ru' %}
          БЕСПЛАТНО - Расчёт экономической эффективности внедрения оборудования.
          {% else %}
          For free - Calculation of economic efficiency of the implemented plant.
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</header>