<section class="stage"><a name="stage"></a>
  <div class="stage-row">
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_1">
        <span class="stage-row-item__number">1</span>
        <p class="stage-row-item__text">
          Проведение технического обследования объектов
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_2">
        <span class="stage-row-item__number">2</span>
        <p class="stage-row-item__text">
          Расчет показателей экономии на основании проведенного обследования
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_3">
        <span class="stage-row-item__number">3</span>
        <p class="stage-row-item__text">
          Предоставление коммерческого предложения и согласование условий сотрудничества.
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_4">
        <span class="stage-row-item__number">4</span>
        <p class="stage-row-item__text">
          Заключение контракта.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="grid_10 suffix_1 prefix_1">
    <p class="stage__title title">Этапы контракта с коммерческими организациями</p>
  </div>
  <div class="clear"></div>
  <div class="stage-row">
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_5">
        <span class="stage-row-item__number">5</span>
        <p class="stage-row-item__text">
          Проведение мероприятий по монтажу энергосберегающего осветительного оборудования
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_6">
        <span class="stage-row-item__number">6</span>
        <p class="stage-row-item__text">
          Предоставление Актов выполненных работ по договору
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_7">
        <span class="stage-row-item__number">7</span>
        <p class="stage-row-item__text">
          Выплата Организацией ежемесячного платежа согласно условиям договора
        </p>
      </div>
    </div>
    <div class="grid_3">
      <div class="stage-row-item stage-icon stage-icon_8">
        <span class="stage-row-item__number">8</span>
        <p class="stage-row-item__text">
          По истечению срока действия договора, переход оборудования в собственность Организации. В период гарантийного срока производится замена ламп и их обслуживание.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>