<!DOCTYPE html>
<html lang="ru">
<head>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
  <meta charset="UTF-8">
  <title>
    {% if LANGUAGE_CODE == 'ru' %}
    {{ setup.title|default:'Название сайта' }}
    {% else %}
      Energy-service contract
    {% endif %}
  </title>
  <meta name="description" content="{{ setup.meta_desc|default:'' }}">
  <meta name="keywords" content="{{ setup.meta_key|default:'' }}">
  <script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
{% if LANGUAGE_CODE == 'ru' %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% else %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
{% endif %}
  <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
  <script src="{{ STATIC_URL }}js/notify-combined.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.viewportchecker.js"></script>
  <script src="{{ STATIC_URL }}js/scrollup.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  <script src="{{ STATIC_URL }}js/calc.js"></script>
  <script src="{{ STATIC_URL }}js/map.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  {% if setup.top_js %}
    {{ setup.top_js }}
  {% endif %}
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container_12">

{% block content %}
{% endblock %}
    <div class="clear"></div>
  </div>
<div id="scrollup"><img alt="Прокрутить вверх" src="{{ STATIC_URL }}img/up.png"></div>
{% if setup.bottom_js %}
  {{ setup.bottom_js }}
{% endif %}
</body>
</html>